/MethodDelphi/MethodFuzzyDelphi/target/
/MethodDelphi/MethodFuzzyDelphiWS/target/
/MethodDelphi/MethodFuzzyDelphi/dist/
/MethodDelphi/MethodFuzzyDelphi/nb-configuration.xml
/MethodDelphi/MethodFuzzyDelphiWS/dist/
/MethodDelphi/MethodFuzzyDelphiWS/nb-configuration.xml
*.DS_Store
.project
.settings
*/.classpath
*/.project
*/.settings


/MethodFuzzyDelphiWS/target/
/MethodFuzzyDelphi/target/
