<!-- <form #formvitalsign="ngForm" novalidate>
    <p-table [columns]="signVitalList" [value]="signVitalList" [style]="{'font-size':'12px'}" [responsive]="true"
        [lazy]="true" (onLazyLoad)="paginate($event)" [paginator]="true" [rows]="10" [totalRecords]="totalRecords"
        [rows]="rowPerPage" expandableRows="true" dataKey="descriptionVitalSign">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 7%;"></th>
                <th style="width: 10%;">Código</th>
                <th style="width: 18%;">Nombre</th>
                <th style="width: 18%;">Descripción</th>
                <th style="width: 19%;">Tipo de dato</th>
                <th style="width: 15%;">Unidad de medida</th>
                <th style="width: 25%;">Query</th>
                <th style="width: 12%;">Validar query</th>
                <th style="width: 28%;">Expresion regular</th>
                <th style="width: 13%;">Estado</th>
                <th style="width: 10%;"></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-expanded="expanded" let-rowData let-index="rowIndex" let-columns="columns">
            <tr>
                <td>
                    <a href="#" [pRowToggler]="rowData">
                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    </a>
                </td>
                <td>
                    <input pInputText type="text" style="width:100%" [(ngModel)]="rowData.vitalsignsPK.codeVitalSign"
                        name="codeVitalSignv{{index}}" #codeVitalSignv="ngModel" required [disabled]="rowData.editable">
                </td>
                <td>
                    <input pInputText type="text" [(ngModel)]="rowData.nameVitalSign" style="width:100%" name="nameVitalSignv{{index}}"
                        #nameVitalSignv="ngModel" required>
                </td>
                <td>
                    <input pInputText type="text" [(ngModel)]="rowData.descriptionVitalSign" style="width:100%" name="descriptionVitalSignv{{index}}"
                        #descriptionVitalSignv="ngModel" required>
                </td>
                <td>
                    <p-dropdown [options]="dataTypeCombo" [(ngModel)]="rowData.datatype" [style]="{'width':'100%'}"
                        name="datatypev{{index}}" #datatypev="ngModel" required></p-dropdown>
                </td>
                <td>
                    <p-dropdown [options]="measureCombo" [(ngModel)]="rowData.meseure" [style]="{'width':'100%'}" name="meseurev{{index}}"
                        #meseurev="ngModel" required></p-dropdown>
                </td>
                <td>
                    <p-dropdown [options]="queryListingCombo" [(ngModel)]="rowData.codequerylisting" [style]="{'width':'100%'}"
                        name="codequerylistingv{{index}}" #codequerylistingv="ngModel"></p-dropdown>
                </td>
                <td>
                    <p-checkbox [(ngModel)]="rowData.validQuery" binary="true" name="validQueryv{{index}}" #validQueryv="ngModel"></p-checkbox>
                </td>
                <td>
                    <input pInputText type="text" [(ngModel)]="rowData.regularPhrase" style="width:100%" name="regularPhrasev{{index}}"
                        #regularPhrasev="ngModel">
                </td>
                <td>
                    <p-dropdown [options]="statusCombo" [(ngModel)]="rowData.status" [style]="{'width':'100%'}" name="statusv{{index}}"
                        #statusv="ngModel" required></p-dropdown>
                </td>
                <td class="nopadding">
                    <div style="width: 5px">
                        <button type="button" style="border-radius:2px !important" pButton class="ui-button-danger"
                            icon="ui-icon-delete" (click)="confirmDelete(rowData)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
            <tr>
                <td [attr.colspan]="10">
                    <b>Descripción: </b>{{rowData.descriptionVitalSign}}
                </td>
            </tr>

        </ng-template>
    </p-table>
</form> -->
<p>hola mundo</p>